@inherits LayoutComponentBase
@inject AdminNavState _navState
@inject CurrentItems _currentItems;
@if (_currentItems.Company is not null)
{
    <div data-theme="@_currentItems.Theme" class="drawer drawer-mobile bg-base-200 overflow-hidden no-scrollbar">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
            @Body
        </div>
        <div class="drawer-side">
            <label for="my-drawer" class="drawer-overlay"></label>
            <SideNav IsOpen=@_navState.IsSideNavOpen Company=@_currentItems.Company CurrentUrl=@_navState.CurrentUrl />
        </div>
        <RadzenDialog />
        <RadzenNotification />
        <RadzenTooltip />
    </div>
}
@code {

    protected override void OnInitialized()
    {
        _navState.OnChange += NavStateOnOnChange;
    }

    private void NavStateOnOnChange(bool value)
    {
        InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        _navState.OnChange -= NavStateOnOnChange;
    }
}
