
@if (_user is not null)
{
    <div class="flex items-center space-x-2 py-2">
        <button class="flex flex-col text-base-content">
            <h2 class="text-sm truncate overflow-clip">@_user.FullName</h2>
            <p class="text-sm font-light">@_user.Email</p>
        </button>
        <div  data-tip="Voulez-vous vraiment vous deconnecter?" class="tooltip tooltip-left flex items-center space-x-2">
            <form @ref=_logOutForm   class="form-inline" method="get" action="@UrlKeys.Login">
                <button class="text-scorpion-700 hover:bg-celery-500 hover:cursor-pointer" type="submit">
                    <svg class="h-6 text-scorpion-700 fill-current" viewBox="0 0 50 50">
                        <path d="M25 2C12.309534 2 2 12.309534 2 25C2 32.610275 5.7052643 39.366605 11.408203 43.550781 A 1.0001 1.0001 0 1 0 12.591797 41.939453C7.3827357 38.117629 4 31.961725 4 25C4 13.390466 13.390466 4 25 4C36.609534 4 46 13.390466 46 25C46 31.961725 42.617435 38.116549 37.408203 41.939453 A 1.0001 1.0001 0 1 0 38.591797 43.550781C44.294565 39.365685 48 32.610275 48 25C48 12.309534 37.690466 2 25 2 z M 24.984375 21.986328 A 1.0001 1.0001 0 0 0 24 23L24 44.585938L17.707031 38.292969 A 1.0001 1.0001 0 0 0 16.990234 37.990234 A 1.0001 1.0001 0 0 0 16.292969 39.707031L24.205078 47.619141 A 1.0001 1.0001 0 0 0 25.796875 47.617188L33.707031 39.707031 A 1.0001 1.0001 0 1 0 32.292969 38.292969L26 44.585938L26 23 A 1.0001 1.0001 0 0 0 24.984375 21.986328 z" />
                    </svg>
                </button>
            </form>

        </div>
    </div>
}
@code
{
    ElementReference _logOutForm;
    User? _user;
    [Inject] CurrentItems CurrentItems { get; set; } = null!;

    [Inject] NotificationService NotificationService { get; set; } = null!;
    [Inject] DialogService DialogService { get; set; } = null!;
    [Inject] TooltipService TooltipService { get; set; } = null!;
    [Inject] NavigationManager Navigation { get; set; } = null!;

    protected override  void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _user = CurrentItems.User;
            StateHasChanged();
        }
    }

}