@inherits LayoutComponentBase
@inject CurrentItems _currentItems
<div data-theme="dark"></div>
<div data-theme="forest"></div>
<div data-theme="emerald"></div>
<div data-theme="garden"></div>
<div class="h-[100%]" data-theme="@_currentItems.Theme">
    @Body
</div>
