@page "/"
@page "/login"

@using Microsoft.Fast.Components.FluentUI
@using Gest.UI._Features_.Authentication.Components
<div class="relative w-screen h-screen">
   <img class="absolute h-full w-full inset-0 object-cover" src="images/swala.jpg"/>
   <div class="absolute w-full h-full inset-0 bg-gray-900 opacity-80"></div>
   <div class="absolute w-full h-full inset-0 flex items-center justify-center">


<div>
          <Login/>
       </div>
   </div>
</div>
