@page "/sales"
@using Gest.UI._Features_.Sales.Components
@layout AdminLayout

<PageTitle>Ventes</PageTitle>

<TopAdminNav Title="Gestion des ventes" />
<div class="mt-16">
    <List/>
</div>
@code {

    [Inject] AdminNavState AdminNavState { get; set; } = null!;
  

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AdminNavState.CurrentUrl = UrlKeys.Sales;
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}