@page "/stock"
@using Gest.UI._Features_.Stock.Components
@layout AdminLayout

<PageTitle>Stock</PageTitle>
<TopAdminNav Title="Gestion de stock" />
<div class="h-full mt-14 lg:mt-16 p-0" style="padding:0rem;">
    <List/>
</div>
@code {

    [Inject] AdminNavState AdminNavState { get; set; } = null!;
  

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AdminNavState.CurrentUrl = UrlKeys.Stock;
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}