@if(Model is not null)
{
    <div @onclick=@(_ => Click.InvokeAsync(Model)) class="bg-gray-50 flex items-center justify-between p-2 hover:cursor-pointer hover:bg-gray-100 @(IsSelected ? "border border-gray-600" : "")">
     <div class="flex space-x-2">
          <div class="bg-gray-600 flex items-center justify-center p-4 rounded-full w-12 h-12">
               <h2 class="text-gray-50 font-semibold">@Model.FullName.ToAvatar()</h2>
          </div>
          <div>
               <h2 class="font-medium truncate">@Model.FullName</h2>
               <p class="text-sm text-gray-500 text-ellipsis overflow-hidden">@Model.Email</p>
          </div>
      </div>
</div>

}
@code {
    [EditorRequired]
    [Parameter] 
    public User? Model { get; set; }

    [Parameter] public bool IsSelected { get; set; }

    [Parameter]
    public EventCallback<User> Click { get; set; }

    [Parameter]
    public bool Overflow { get; set; } = true;
}