@if(_permissions is { Length: > 0 })
{
    <div class="space-y-1">
    <ToolBar NewItem=@(_ => NewSale()) OnRefresh=@(_ => InitialLoad())  
        OnSearchQuery=@(e => OnSearch(e)) PeriodChanged=@(e => OnPeriodChanged(e)) DateChanged=@(e => OnDateChanged(e.startDate,e.endDate)) 
        PaymentStateChanged=@(e => OnPaymentStateChanged(e)) DeliveryStateChanged=@(e => OnDeliveryStateChanged(e))/>
    @if (_isBusy)
    {
        <RadzenProgressBar  class="w-full h-1"  Value="100" ShowValue=@false Mode=@ProgressBarMode.Indeterminate/>
    }
    <div class="grid md:grid-cols-5 gap-1 h-full md:h-[80vh] pt-[4.5rem] pb-[3rem] md:pb-[4rem]">
        <RadzenDataList class="col-span-2 -space-y-5 h-full overflow-y-auto duaralist no-scrollbar" Count=@_count Data=@_items TItem=@Sale LoadData=@LoadData AllowPaging=true>
            <Template Context="item">
                <div class="-m-4 rounded">
                   <SaleCard  Click=@(_ => OnSelectItem(item)) Model=@item IsSelected=@(_selectedItem == item) />
                   @if (_isSmall)
                   {
                      <SaleViewModal Model=@item/>
                   }
                </div>
            </Template>
        </RadzenDataList>
        @if(_selectedItem is not null)
        {
             <div class="hidden md:block col-span-3 ">
                <SaleView  Model=@_selectedItem/>
             </div>
        }
    </div>
    </div>
    <div>
      <button @onclick="_ => NewSale()" class="btn btn-circle fixed bottom-9 left-4 shadow-md">
       <svg class=" fill-current"  viewBox="0 0 50 50">
            <path d="M24 9L24 24L9 24L9 26L24 26L24 41L26 41L26 26L41 26L41 24L26 24L26 9Z" />
        </svg>
    </button>
    </div>
}
else
{
    <NotAuthorized Section=@AppSections.Sales User=@CurrentItems.User/>
}
<RadzenMediaQuery Query="(max-width: 768px)" Change=@(e => _isSmall = e)/>
@code{
    [Inject] public DialogService DialogService { get; set; } = null!;
    [Inject] public GestDbContext DbContext { get; set; } = null!;
    [Inject] public CurrentItems CurrentItems { get; set; } = null!;
    bool _isSmall = false;
    bool _isBusy = true;
    string _searchQuery = string.Empty;
    Sale? _selectedItem;
    int _count;
    int _skip = 0;
    int _take = 10;
    string _selectedPeriod = Period.Tous;
    string _selectedPaymentState = Period.Tous;
    string _selectedDeliveryState = Period.Tous;
    DateTime _startDate = DateTime.UtcNow.ToLocalTime();
    DateTime _endDate = DateTime.UtcNow.ToLocalTime();
    IEnumerable<Sale> _items = new List<Sale>();
    string _permissions = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Policy.Handle<InvalidOperationException>()
             .WaitAndRetryAsync(3, attempt => TimeSpan.FromMilliseconds(100 * attempt))
             .ExecuteAsync(InitialLoad);
            await InvokeAsync(() => StateHasChanged());
        }
    }

    protected override void OnParametersSet()
    {
        _permissions = CurrentItems.User.GetPermissionsFor(AppSections.Sales);
    }

    async Task InitialLoad()
    {
        _skip = 0;
        _take = 10;
        await LoadData(new LoadDataArgs() { Skip = _skip, Top = _take });
        _selectedItem = _items.FirstOrDefault();
    }

    async Task OnSearch(string value)
    {
        _searchQuery = value;
        await InitialLoad();
    }

    async Task OnPeriodChanged(string period)
    {
        _selectedPeriod = period;
        await InitialLoad();
    }
    async Task OnPaymentStateChanged(string state)
    {
        _selectedPaymentState = state;
        await InitialLoad();
    }
    async Task OnDeliveryStateChanged(string state)
    {
        _selectedDeliveryState = state;
        await InitialLoad();
    }

    async Task OnDateChanged(DateTime start, DateTime end)
    {
        _startDate = start;
        _endDate = end;
        await InitialLoad();
    }

    void OnSelectItem(Sale value)
    {
        _selectedItem = value;
    }

    async Task LoadData(LoadDataArgs args)
    {
        _isBusy = true;
        var query = DbContext.Sales
                  .Include(x => x.Client)
                  .Include(x => x.Seller)
                  .Include(x => x.Items).ThenInclude(x => x.Article)
                  .Where(x => _selectedPaymentState == PaymentStatus.Tous || x.PayStatus == _selectedPaymentState)
                  .Where(x => _selectedDeliveryState == DeliveryStatus.Tous || x.DeliverStatus == _selectedDeliveryState)
                  .Where(x => x.CompanyId == CurrentItems.Company.Id)
                  .AsNoTracking();

        query = _permissions.Contains(AppPermissions.Read) && _permissions.Contains(AppPermissions.Update)
            ? query
            : query.Where(x => x.SellerId == CurrentItems.User.Id);

        var queryWithPeriodFilter = _selectedPeriod switch
        {
            Period.Tous => query,
            Period.Today => query.Where(x => x.CreatedAt.Date == DateTime.Today),
            Period.ThisWeek => query.Where(x => x.CreatedAt <= DateTime.Today && x.CreatedAt >= DateTime.Today.AddDays(-7)),
            Period.Yesterday => query.Where(x => x.CreatedAt.Date == DateTime.Today.AddDays(-1)),
            Period.ThisMonth => query.Where(x => x.CreatedAt <= DateTime.Today && x.CreatedAt >= DateTime.Today.AddDays(-30)),
            Period.Date => query.Where(x => x.CreatedAt.Date == _startDate.Date),
            Period.IntervalDate => query.Where(x => x.CreatedAt >= _startDate && x.CreatedAt <= _endDate),
            _ => query
        };
        if(!string.IsNullOrEmpty(_searchQuery))
        {
            int saleId =  int.TryParse(_searchQuery, out saleId) ? saleId : 0;
            _items = await queryWithPeriodFilter
                  .Where(x => x.SaleId == saleId || x.Items.Any(i => i.Article!.Name.Contains(_searchQuery)))
                  .OrderByDescending(x => x.UpdatedAt)
                  .Paginate(args.Skip,args.Top).ToListAsync();
            _count = await queryWithPeriodFilter
             .Where(x => x.Items.Any(i => i.Article!.Name.Contains(_searchQuery)))
             .CountAsync();
        }
        else
        {
            _items = await queryWithPeriodFilter
                   .OrderByDescending(x => x.UpdatedAt)
                  .Paginate(args.Skip,args.Top).ToListAsync();
            _count = await queryWithPeriodFilter
                .CountAsync();
        }
        _isBusy = false;
    }

    async Task NewSale()
    {
        var result = await DialogService.OpenAsync<SaleNew>("Nouvelle vente", new Dictionary<string, object>());
        if (result is bool canRefresh && canRefresh == true)
            await InitialLoad();
    }
}