<div class="space-y-1">
    <ToolBar NewItem=@(_ => NewSale()) OnRefresh=@(_ => InitialLoad())  
        OnSearchQuery=@(e => OnSearch(e)) PeriodChanged=@(e => OnPeriodChanged(e)) DateChanged=@(e => OnDateChanged(e.startDate,e.endDate)) 
        PaymentStateChanged=@(e => OnPaymentStateChanged(e)) DeliveryStateChanged=@(e => OnDeliveryStateChanged(e))/>
    @if (_isBusy)
    {
        <RadzenProgressBar  class="w-full h-1"  Value="100" ShowValue=@false Mode=@ProgressBarMode.Indeterminate/>
    }
    <div class="grid md:grid-cols-5 gap-2">
        <RadzenDataList class="col-span-2 -space-y-5" Count=@_count Data=@_items TItem=@Sale LoadData=@LoadData AllowPaging=true>
            <Template Context="item">
                <SaleCard  Click=@(_ => OnSelectItem(item)) Model=@item IsSelected=@(_selectedItem == item) />
            </Template>
        </RadzenDataList>
        @if(_selectedItem is not null)
        {
             <div class="hidden md:block col-span-3 ">
                <SaleView  Model=@_selectedItem/>
             </div>
        }
    </div>
</div>
<RadzenMediaQuery Query="(max-width: 768px)" Change=@(e => _isSmall = e)/>
@code{
    [Inject] public DialogService DialogService { get; set; } = null!;
    [Inject] public GestDbContext DbContext { get; set; } = null!;
    bool _isSmall = false;
    bool _isBusy = true;
    string _searchQuery = string.Empty;
    Sale? _selectedItem;
    int _count;
    int _skip = 0;
    int _take = 10;
    string _selectedPeriod = Period.Tous;
    string _selectedPaymentState = Period.Tous;
    string _selectedDeliveryState = Period.Tous;
    DateTime _startDate = DateTime.UtcNow.ToLocalTime();
    DateTime _endDate = DateTime.UtcNow.ToLocalTime();
    IEnumerable<Sale> _items = new List<Sale>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Policy.Handle<InvalidOperationException>()
             .WaitAndRetryAsync(3, attempt => TimeSpan.FromMilliseconds(100 * attempt))
             .ExecuteAsync(InitialLoad);
            await InvokeAsync(() => StateHasChanged());
        }
    }

    async Task InitialLoad()
    {
        _skip = 0;
        _take = 10;
        await LoadData(new LoadDataArgs() { Skip = _skip, Top = _take });
        _selectedItem = _items.FirstOrDefault();
    }

    async Task OnSearch(string value)
    {
        _searchQuery = value;
        await InitialLoad();
    }

    async Task OnPeriodChanged(string period)
    {
        _selectedPeriod = period;
        await InitialLoad();
    }
    async Task OnPaymentStateChanged(string state)
    {
        _selectedPaymentState = state;
        await InitialLoad();
    }
    async Task OnDeliveryStateChanged(string state)
    {
        _selectedDeliveryState = state;
        await InitialLoad();
    }

    async Task OnDateChanged(DateTime start, DateTime end)
    {
        _startDate = start;
        _endDate = end;
        await InitialLoad();
    }

    async Task OnSelectItem(Sale value)
    {
        _selectedItem = value;
        if (_isSmall)
        {
            await ViewDetails(value);
        }
    }

    async Task LoadData(LoadDataArgs args)
    {
        _isBusy = true;
        var query = DbContext.Sales
                   .Include(x => x.Client)
                  .Include(x => x.Items).ThenInclude(x => x.Article)
                  .Where(x => _selectedPaymentState == PaymentStatus.Tous || x.PayStatus == _selectedPaymentState)
                  .Where(x => _selectedDeliveryState == DeliveryStatus.Tous || x.DeliverStatus == _selectedDeliveryState)
                  .AsNoTracking();
        var queryWithPeriodFilter = _selectedPeriod switch
        {
            Period.Tous => query,
            Period.Today => query.Where(x => x.CreatedAt == DateTime.Today),
            Period.ThisWeek => query.Where(x => x.CreatedAt <= DateTime.Today && x.CreatedAt >= DateTime.Today.AddDays(-7)),
            Period.Yesterday => query.Where(x => x.CreatedAt.Date == DateTime.Today.AddDays(-1)),
            Period.ThisMonth => query.Where(x => x.CreatedAt <= DateTime.Today && x.CreatedAt >= DateTime.Today.AddDays(-30)),
            Period.Date => query.Where(x => x.CreatedAt.Date == _startDate.Date),
            Period.IntervalDate => query.Where(x => x.CreatedAt >= _startDate && x.CreatedAt <= _endDate),
            _ => query
        };
        if(string.IsNullOrEmpty(_searchQuery))
        {
            int saleId =  int.TryParse(_searchQuery, out saleId) ? saleId : 0;
            _items = await queryWithPeriodFilter
                  .Where(x => x.SaleId == saleId || x.Items.Any(i => i.Article!.Name.Contains(_searchQuery)))
                  .OrderByDescending(x => x.UpdatedAt)
                  .Paginate(args.Skip,args.Top).ToListAsync();
            _count = await queryWithPeriodFilter
             .Where(x => x.Items.Any(i => i.Article!.Name.Contains(_searchQuery)))
             .CountAsync();
        }
        else
        {
            _items = await queryWithPeriodFilter
                   .OrderByDescending(x => x.UpdatedAt)
                  .Paginate(args.Skip,args.Top).ToListAsync();
            _count = await queryWithPeriodFilter
                .CountAsync();
        }
        _isBusy = false;
    }

    async Task NewSale()
    {
        var result = await DialogService.OpenAsync<SaleNew>("Nouvelle vente", new Dictionary<string, object>());
        if (result is bool canRefresh && canRefresh == true)
            await InitialLoad();
    }
    async Task ViewDetails(Sale item)
    {
        var param = new Dictionary<string, object?>() { { "Model", item } };
        var title = $"Vente No #{item.SaleId}";
        var result = await DialogService.OpenAsync<SaleView>(title, param);
        if (result is bool canRefresh && canRefresh == true)
            await InitialLoad();
    }
}