<input type="checkbox" id="@($"modal-{Model.Id}")" class="modal-toggle" />
<div class="modal modal-bottom sm:modal-middle">
  <div class="modal-box modal-box-extra">
    <ModalTop Id=@($"modal-{Model.Id}") Title=@($"Vente No {Model.SaleId}")/>
    <div class="-mx-7 pb-2">
        <SaleView Model=@Model Permissions=@Permissions Refresh="() => Refresh.InvokeAsync()"/>
    </div>
  </div>
</div>
@code {

    [EditorRequired]
    [Parameter]
    public Sale Model { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public string Permissions { get; set; } = null!;

    [Parameter] public EventCallback Refresh { get; set; }
}
