<input type="checkbox" id="@($"modal-new-stock-{Article.Id}")" class="modal-toggle" />
<div class="modal modal-bottom sm:modal-middle">
  <div class="modal-box modal-box-extra md:max-w-[50rem] no-scrollbar">
    <ModalTop Id="@($"modal-new-stock-{Article.Id}")" Title="@($"Nouveau Stock de {Article.Name}")"/>
    <div class="-mx-7 px-3 pb-4">
        <AddToStock Model=@Article Refresh="_ => Refresh.InvokeAsync()" Permissions=@Permissions/>
    </div>
  </div>
</div>
@code {

    [Parameter] public EventCallback Refresh { get; set; }
    [EditorRequired]
    [Parameter]
    public string Permissions { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public Article Article { get; set; } = null!;
}