<div class="py-2">
<div class="tabs">
  <a @onclick=@(e => _selectedTab = "details") class="tab tab-lifted @(_selectedTab == "details" ? "tab-active" : "")">Détails</a> 
  <a @onclick=@(e => _selectedTab = "history") class="tab tab-lifted @(_selectedTab == "history" ? "tab-active" : "")">Historique</a> 
</div>
<div>
    @if(_selectedTab == "details")
    {
        <ArticleViewDetails Permissions=@Permissions Refresh="_ => Refresh.InvokeAsync()" Model=@Model/>
    }
    else
    {
         <ArticleHistory Model=@Model/>
    }
</div>
</div>
@code {
    [EditorRequired]
    [Parameter] 
    public Article Model { get; set; } = null!;

    string _selectedTab = "details";

    [Parameter] public EventCallback Refresh { get; set; }
    [EditorRequired]
    [Parameter]
    public string Permissions { get; set; } = null!;

}
