<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>19</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://frabjous-banoffee-441204.netlify.app/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Duara</ProductName>
    <PublishDir>D:\Projects\Gest\installer\</PublishDir>
    <PublishUrl>D:\Projects\Gest\installer\</PublishUrl>
    <PublisherName>Duara</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SuiteName>Gest</SuiteName>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>index.html</WebPageFileName>
    <History>True|2022-03-27T10:41:25.8120662Z;True|2022-03-26T20:22:25.1087758+01:00;False|2022-03-26T20:14:15.4206737+01:00;True|2022-03-22T22:13:55.7861574+01:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="wwwroot\css\app.css">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="wwwroot\favicon.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="wwwroot\images\swala.jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="wwwroot\index.html">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>